{
    "our_groceries": {
        "username": "development",
        "password": "mypass",
        "lists": [
            "Einkaufen", 
            "ToDo"
        ]
    },
    "ics_calendars": {

    }
}