{
    "our_groceries": {
        "username": "development",
        "password": "mypass",
        "lists": [
            "Einkaufen", 
            "ToDo",
            "Haushalt"
        ],
        "listWithTimers": "Haushalt"
    },
    "ics_calendars": {

    }
}